fastapi==0.112.4
uvicorn[standard]==0.23.2
sqlalchemy==2.0.34
psycopg[binary]==3.1.18
python-jose==3.1.0
email-validator==2.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pydantic==2.9.0
python-multipart==0.0.9
alembic==1.12.0
apscheduler==3.11.0
python-dotenv==1.0.0
